<ion-view view-title="CÂN BẰNG HÓA HỌC">
  <ion-content class="padding">
      <label class="item item-input">
        <input type="text" ng-model="phuongtrinh.input" placeholder="Nhập phương trình cần cân bằng tại đây">
       </label>
       <div class="text-center">
         <button ng-click="refresh()" class="button btn button-small ion-refresh ">
             Làm mới
          </button>
          <button ng-click="Balance()" class="button btn button-small ion-beaker ">
             Cân bằng
          </button>
       </div>
      <div class="card">
        <div class="item item-divider">
          Kết quả
        </div>
        <div class="item item-text-wrap" id="result">
        </div>
      </div>

  </ion-content>
</ion-view>
