<ion-view view-title="THÔNG TIN LIÊN HỆ">
  <ion-content>
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Họ tên</span>
	    <input type="text" placeholder="Nguyễn Như Hải">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="nnhaigl@gmail.com">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Facebook</span>
	    <br>
	    <a href="https://www.facebook.com/sevenday93">https://www.facebook.com/sevenday93</a>
	  </label>
	</div>
  </ion-content>
</ion-view>
