<ion-view view-title="HƯỚNG DẪN SỬ DỤNG">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Phương trình vô cơ và hữu cơ
      </div>
      <div class="item item-text-wrap">
        <p>Nhập phương trình cần cân bằng theo công thức ghi bên ngoài.</p>
        <strong>Ví dụ :</strong> 
          <p>1. H2 + O2 = H2O</p>
          <p>2. CH3CHOOH + NaOH = CH3COONa + H2O</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Phương trình ion và electron
      </div>
      <div class="item item-text-wrap">
        <p>Sử dụng dấu ^ để thể hiện hóa trị hoặc electron</p>
        <strong>Ví dụ :</strong> 
          <p>1. H^+ + CO3^2- = H2O + CO2</p>
          <p>2. Fe^3+ + e = Fe</p>
      </div>
    </div>

  </ion-content>
</ion-view>
